// COLORS
$main-bg-color: #000605;
$main-accent-color: #FF6700;
$main-font-color: #fff;

// SIZES
$title-height: 3rem;
$control-panel-height: 4rem; // musi se menit i u .tri-view.middle
$control-icon-width: $control-panel-height*0.8;
$sidebar-panel-widht: 200px; // musi se menit i u #main-view

body{
	box-shadow: 0 0px 0 3px $main-bg-color inset;
	font-size: 18px;
	font-family: 'source_sans_prolight';
}

.notification{
	position: fixed;
  top: $title-height*1.5;
  right: 4rem;
  width: 20vw;
  min-height: 2rem;
  background: rgba(255,255,255,0.8);
  color: #333;
  opacity: 0;
  transition: all 0.3s ease;
  text-align: right;
	&.visible{
		opacity: 1;
	}
}

.icon{
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-style: normal;
	vertical-align: middle;
	width: $control-icon-width;
	height: $control-panel-height;
	text-align: center;
	color: rgba($main-accent-color+#888,0.15);
	padding: 0;
	transition: all 0.3s ease;
	margin: 0 0.2rem 0 0;
	&::before{
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		font-size: $control-panel-height*0.4;
		line-height: $control-panel-height;
		text-align: center;
	}
	&:hover{
		text-shadow: 0 1px 14px rgba($main-accent-color+#888,0.85);
		color: $main-font-color;
	}
	&.ion-refresh {
		z-index: 11;
		-webkit-app-region: no-drag;
	  position: absolute;
		top: 0;
		right: 6.5rem;
	}
}

.top-titlebar{
	background-color: $main-bg-color;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	color: $main-font-color;
	height: $title-height;
	line-height: $title-height;
	width: 100vw;
	.icon{
		-webkit-app-region: no-drag;
		line-height: $title-height;
		padding: 0;
		margin: 0;
		width: $title-height;
		height: $title-height;
		font-size: $title-height*0.6;
		line-height: $title-height;
		text-align: center;
		&::before{
			-webkit-app-region: no-drag;
			color: rgba($main-font-color, 0.8);
			padding: 0;
			margin: 0;
			width: $title-height;
			height: $title-height;
			font-size: $title-height*0.6;
			line-height: $title-height;
			text-align: center;
		}
	}
	.close-button, .minimize-button{
		-webkit-app-region: no-drag;
		font-size: $title-height;
		line-height: $title-height;
		cursor: pointer;
    float: right;
    text-align: center;
    width: $title-height;
	}
	.logo-icon{
		-webkit-app-region: no-drag;
		position: absolute;
		left: $title-height/6;
		width: $title-height*0.7;
		height: $title-height*0.7;
	  margin: $title-height*0.15 0 0 0;
		box-shadow: 0 1px 10px rgba(0,0,0,0.2);
		border-radius: 1.5rem;
		img{
			max-width: 100%;
		}
	}
	.title{
		position: absolute;
		left: $title-height+($title-height*0.15);
	}
}

#page-holder{
	position: absolute;
	top: $title-height;
	bottom: 0;
	left: 0; right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	#main-view{
		position: absolute;
		top: 0;
		right: 0;
		bottom: $control-panel-height;
		width: 100vw;
		overflow: auto;
	}
}

#controlls{
	color: $main-font-color;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: $control-panel-height;
	background: $main-bg-color;
	line-height: $control-panel-height;
	.icon{
		position: absolute;
		top: 0;
		left: 0;
		&.icon-play, &.icon-pause, &.icon-stop{
			left: $control-icon-width;
			&:hover{
				background: transparent;
			}
		}
		&.icon-pause{
			color: rgba($main-accent-color+#333,0.85);
			text-shadow: 0 1px 14px rgba($main-accent-color+#333,0.45);
			&:hover{
				text-shadow: 0 1px 14px rgba($main-accent-color+#333,0.85);
				color: $main-font-color;
			}
		}
		&.icon-stop{
			left: $control-icon-width*2;
		}
		&.icon-right-open-big{
			left: $control-icon-width*2;
		}
		&.icon-left-open-big{
			left: 0;
		}
		&.icon-right-open-big{
			transform: translate(200%,0);
		}
		&.icon-shuffle, &.icon-loop{
			left: $control-icon-width*3.3;
			width: $control-icon-width*0.5;
			height: $control-panel-height*0.3;
			&::before{
				font-size: $control-panel-height*0.3;
				line-height: $control-panel-height*0.3;
			}
			&.true{
				color: $main-accent-color;
				&:hover{
					color: $main-font-color;
				}
			}
			&.icon-loop{
				top: $control-panel-height*0.5;
			}
			&.icon-shuffle{
				top: auto;
				bottom: $control-panel-height*0.5;
			}
		}
	}
	//overflow: hidden;
	#behind{
		pointer-events: all;
		background: rgba($main-bg-color, 0.1);
		position: absolute;
	  top: 0.2;
	  left: 0;
	  height: 0.4rem;
		width: 100vw;
	  display: block;
	  z-index: 9;
		cursor: pointer;
		&:hover{
			background: rgba($main-bg-color, 0.5);
		}
	}
	.progress{
		background: $main-accent-color;
		position: absolute;
	  top: 0;
	  left: 0;
	  height: 0.2rem;
	  //overflow: hidden;
	  display: block;
	  z-index: 10;
	  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		pointer-events: none;
		#postevak{
			pointer-events: all;
	  	transition: all 0.2s linear;
			background: $main-accent-color + #123;
			position: absolute;
		  right: 0;
		  top: 50%;
		  width: 0.5rem;
		  height: 0.5rem;
		  display: block;
		  border-radius: 1rem;
		  transform: translate(50%,-50%);
			cursor: pointer;
			z-index: 15;
			&:hover{
				width: 0.8rem;
				height: 0.8rem;
			}
		}
	}
	.time{
		width: 5rem;
		position: absolute;
		top: 0;
		left: $control-icon-width*5.3;
	}
	.info{
		cursor: pointer;
		position: absolute;
		top: 0;
		left: $control-icon-width*7.1;
		overflow: hidden;
		.icon-right-open {
			position: relative !important;
			display: inline-block;
			left: auto;
			width: 1rem;
			&::before{
				font-size: 12px;
			}
		}
	}
	.play{
		position: absolute;
		width: $control-icon-width;
		height: $control-panel-height;
		display: inline-block;
		&::before{
			content: ' ';
			width: $control-panel-height*7;
			height: $control-panel-height*7;
			background: rgba($main-accent-color+#666,0.025);
			position: absolute;
			top: 50%;
			left: 50%;
			pointer-events: none;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

}

$sidepanel-width: 250px;
#sidepanel {
	position: fixed;
	top: 3rem;
	bottom: 4rem;
	background: rgba(255,255,255,0.95);
	z-index: 10;
	padding: 0 1rem;
	width: $sidepanel-width;
	box-shadow: 1px 0 85px 0 rgba(0,0,0,0.2);
	transition: all 0.3s ease;
	&:hover{
		transform: translate(0,0);
	}
	.icon-cog, .icon-th-list{
		width: $control-panel-height;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(100%,0);
		z-index: 10;
		color: $main-bg-color;
	}
	.icon-th-list{
		right: auto;
		left: 0;
		transform: translate(-100%,0);
	}
	.icon-trash {
		color: rgba($main-bg-color, 0.8);
	  position: absolute;
	  right: 1rem;
	  top: 0;
		z-index: 11;
		text-shadow: 0 0 20px white, 0 0 10px white;
	}
	.source{
		font-weight: 600;
	}
	&.left{
		border-right: 2px solid white;
		transform: translate(-100%,0);
		&.visible{
			transform: translate(0,0);
		}
	}
	&.right{
		width: $sidepanel-width;
		right: 0;
		border-left: 2px solid white;
		transform: translate(100%,0);
		height: calc(100% - 7rem);
		&.visible{
			transform: translate(0,0);
		}
	}
	&.playlist{
		padding: 0;
		margin: 0;
		max-height: calc(100% - 7rem);
		.scroll{
			padding: 0;
			margin: 0;
			overflow-y: auto;
			padding-bottom: 2rem;
			max-height: 100%;
			padding: 0 1rem;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			.song {
			  font-size: 0.9rem;
			  padding: 0;
			  margin: 2px 0;
			  height: 1.8rem;
			  background: rgba(0,0,0,0.1);
			  line-height: 1.8rem;
				position: relative;
				white-space: nowrap;
				overflow: hidden;
				&::before {
				  content: "";
				  width: 2rem;
				  height: 2rem;
				  background: red;
				  position: absolute;
				  right: 0;
					background: linear-gradient(to right, transparent , white);
				}
				i, i::before{
					width: 1.8rem;
					height: 1.8rem;
					line-height: 1.8rem;
					color: #333;
					font-size: 0.9rem;
				}
				.icon-cancel {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}
}

.list{
	list-style: none;
	padding: 0;
	.song{
		padding: 4px 10px;
		margin: 0;
		position: relative;
		&.playing{
			background: rgba($main-bg-color, 0.2)
		}
		.icon{
			width: 2.2rem;
			height: 2.2rem;
			display: inline-block;
			position: relative;
			font-size: 1.8rem;
			font-style: normal;
			vertical-align: middle;
			line-height: 2.2rem;
			text-align: center;
			color: rgba($main-bg-color, 0.8);
			&::before{
				color: rgba($main-bg-color, 0.8);
				padding: 0;
				margin: 0;
				width: 2.2rem;
				height: 2.2rem;
				font-size: 2.2rem*0.6;
				line-height: 2.2rem;
				text-align: center;
			}
			&.icon-play, &.icon-stop{
				left: 0;
			}
			&.icon-list-add {
				transition: all 0.2s ease;
				opacity: 0;
				visibility: hidden;
			  position: absolute;
				right: 0;
				line-height: 1rem;
				top: 0;
				span{
					color: $main-bg-color;
					position: absolute;
					left: 0;
					top: 0;
					line-height: 2.2rem;
					font-size: 12px;
					width: 5rem;
					transform: translate(-90%,0);
				}
				&::before{
					font-size: 0.9rem;
				}
			}
		}
		&:hover{
			background: rgba($main-bg-color, 0.1);
			.icon{
				color: $main-accent-color;
				&::before{
					color: rgba($main-accent-color, 0.8);
				}
				&.icon-list-add {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

#loading{
	position: fixed;
  top: $title-height;
	bottom: $control-panel-height;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.3);
  background: radial-gradient(rgba(255,255,255,0.4) 5%, rgba(255,255,255,0.2) 35%, transparent 75%);
  z-index: -10;
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
	&.active{
		z-index: 10;
		opacity: 1;
	}
	.message {
	  font-size: 1rem;
  	display: block;
	}
	.spinner {
		position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 0.6rem;
  text-align: center;
  font-size: 10px;
		div {
			background-color: $main-accent-color + #111;
			height: 40%;
			width: 4px;
			display: inline-block;
			-webkit-animation: sk-stretchdelay 0.8s infinite ease-out;
			background-color: #ff8511;
		}
	}
	.spinner {
		.rect1 {
		  -webkit-animation-delay: -0.1s;
		}
		.rect2 {
		  -webkit-animation-delay: -0.2s;
		}
		.rect3 {
		  -webkit-animation-delay: -0.3s;
		}
		.rect4 {
		  -webkit-animation-delay: -0.4s;
		}
		.rect5 {
		  -webkit-animation-delay: -0.5s;
		}
		.rect6 {
		  -webkit-animation-delay: -0.6s;
		}
		.rect7 {
		  -webkit-animation-delay: -0.7s;
		}
		.rect8 {
		  -webkit-animation-delay: -0.8s;
		}
		.rect9 {
		  -webkit-animation-delay: -0.9s;
		}
		.rect10 {
		  -webkit-animation-delay: -1s;
		}
}
	@-webkit-keyframes sk-stretchdelay {
	  0%, 100% {
			-webkit-transform: scaleY(0) scaleX(1);
			background: $main-accent-color + #222;
		}
	  55% {
			-webkit-transform: scaleY(1.0) scaleX(1.0);
			background: $main-accent-color + #555;
		}
		75% {
			-webkit-transform: scaleY(1.6) scaleX(1.8);
			background: $main-accent-color - #555;
		}
	}
	@keyframes sk-stretchdelay {
	  0%, 40%, 100% {
	    transform: scaleY(0.4);
	    -webkit-transform: scaleY(0.4);
	  }  20% {
	    transform: scaleY(1.0);
	    -webkit-transform: scaleY(1.0);
	  }
	}
}

.search {
	-webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  height: $title-height;
  line-height: $title-height;
  background: transparent;
  left: 7.5rem;
	display: inline-block;
	z-index: 10;
	width: 10rem + $title-height;
	i{
		-webkit-app-region: no-drag;
		height: $title-height;
		line-height: $title-height;
		&::before{
			-webkit-app-region: no-drag;
			height: $title-height;
			line-height: $title-height;
		}
	}
	label{
		-webkit-app-region: no-drag;
		margin: 0;
		padding: 0;
	}
	input{
		-webkit-app-region: no-drag;
  	background: rgba($main-font-color, 0.05);
		height: $title-height;
		line-height: $title-height;
		color: $main-font-color;
		display: inline-block;
		position: absolute;
		width: 10rem;
		border: none;
	}
}

.tri-view {
	background: rgba($main-bg-color, 0.02);
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  top: 0;
	bottom: 0;
	left: $sidepanel-width;
	.album{
		position: relative;
		margin: 0.5rem 1.3rem;
		i{
			height: 1.2rem;
			width: 1.2rem;
			&::before{
				font-size: 0.8rem;
				line-height: 1.2rem;
				width: 1.2rem;
				color: rgba($main-bg-color, 0.8);
			}
		}
		.art{
			position: absolute;
			top: 0;
			left: 0;
			width: 200px;
		}
		.info{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0 1rem;
			&.with-art{
				width: calc(100% - 200px);
				left: 200px;
			}
		}
	}
	h3{
		margin-left: 0.5rem;
	}
	&.left{
	  width: calc(27.5% - 3rem);
  	left: 3rem;
	}
	&.middle{
	  width: 27.5%;
  	left: 27.5%;
	}
	&.right{
	  width: 45%;
		left: auto;
  	right: 0;
		.list{
			margin-top: 9rem;
			&.with-art{
				margin-top: 232px;
			}
		}
	}
}

/***************************************
 * SLIDER
 **************************************/
$track-color: rgba($main-accent-color, 0.2);
$thumb-color: $main-accent-color;
//
$thumb-radius: 0.6rem;
$thumb-width: 1rem;
$thumb-height: 1rem;
$thumb-shadow-size: 2px;
$thumb-shadow-blur: 2px;
$thumb-shadow-color: #111;
$thumb-border-width: 0;
$thumb-border-color: white;
//
$track-width: 100%;
$track-height: 1rem;
$track-shadow-size: 2px;
$track-shadow-blur: 2px;
$track-shadow-color: #222;
$track-border-width: 1px;
$track-border-color: black;
$track-radius: 1rem;
//
//
.volume {
  position: absolute;
  right: 1rem;
  top: 2rem;
}
input[type=range] {
	-webkit-appearance: none;
	//margin: $thumb-height/2 0;
	width: $track-width;
	background: transparent;
  &:focus {
		outline: none;
  }
  &::-webkit-slider-runnable-track {
		width: $track-width;
		height: $track-height;
		cursor: pointer;
		background: $track-color;
		border-radius: $track-radius;
		transform: translate(0,-50%);
		box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
  }
  &::-webkit-slider-thumb {
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-radius;
		background: $thumb-color;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0;
  }
  &:focus::-webkit-slider-runnable-track {
		background: $track-color;
  }
  &:focus::-ms-fill-lower {
		background: $track-color;
  }
  &:focus::-ms-fill-upper {
		background: $track-color;
  }
}
