
.icon-emo-angry:before { content: '\e800'; } /* '' */
.icon-emo-cry:before { content: '\e801'; } /* '' */
.icon-emo-laugh:before { content: '\e802'; } /* '' */
.icon-emo-displeased:before { content: '\e803'; } /* '' */
.icon-emo-grin:before { content: '\e804'; } /* '' */
.icon-emo-unhappy:before { content: '\e805'; } /* '' */
.icon-emo-sleep:before { content: '\e806'; } /* '' */
.icon-emo-happy:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-beer:before { content: '\e80a'; } /* '' */
.icon-emo-squint:before { content: '\e80b'; } /* '' */
.icon-emo-saint:before { content: '\e80c'; } /* '' */
.icon-emo-shoot:before { content: '\e80d'; } /* '' */
.icon-emo-surprised:before { content: '\e80e'; } /* '' */
.icon-emo-tongue:before { content: '\e80f'; } /* '' */
.icon-emo-devil:before { content: '\e810'; } /* '' */
.icon-emo-thumbsup:before { content: '\e811'; } /* '' */
.icon-emo-wink:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-spin3:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e815'; } /* '' */
.icon-stop:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e817'; } /* '' */
.icon-heart-broken:before { content: '\e818'; } /* '' */
.icon-help:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
.icon-cw:before { content: '\e81c'; } /* '' */
.icon-th-list:before { content: '\e81d'; } /* '' */
.icon-left-open-big:before { content: '\e81e'; } /* '' */
.icon-pause:before { content: '\e81f'; } /* '' */
.icon-user-1:before { content: '\e820'; } /* '' */
.icon-plus:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e823'; } /* '' */
.icon-right-open-big:before { content: '\e824'; } /* '' */
.icon-down-dir:before { content: '\e825'; } /* '' */
.icon-coverflow:before { content: '\e826'; } /* '' */
.icon-user-female:before { content: '\e827'; } /* '' */
.icon-shuffle:before { content: '\e828'; } /* '' */
.icon-loop:before { content: '\e829'; } /* '' */
.icon-note:before { content: '\e82a'; } /* '' */
.icon-folder-empty:before { content: '\e82b'; } /* '' */
.icon-list-add:before { content: '\e82c'; } /* '' */
.icon-trash:before { content: '\e82d'; } /* '' */
.icon-right-open:before { content: '\e82e'; } /* '' */
.icon-left-open:before { content: '\e82f'; } /* '' */
.icon-th-list-1:before { content: '\e830'; } /* '' */
.icon-th:before { content: '\e831'; } /* '' */