<html>
<head>
	<title>PLÆR</title>
	<meta charset="UTF-8">
	<!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
	<link rel="stylesheet" type="text/css" href="./font/stylesheet.css" />
	<!-- page styles -->
	<link rel="stylesheet" type="text/css" href="./css/brickst.min.css" />
	<link rel="stylesheet" type="text/css" href="./ionicons/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="./icons/css/animation.css" />
	<link rel="stylesheet" type="text/css" href="./icons/css/plaer.css" />
	<link rel="stylesheet" type="text/css" href="./css/app.css" />
	</head>

<body ng-app="playerApp" ng-controller="AppCtrl">

	<div class="notification {{ notification.text !== '' ? 'visible' : ''}}">{{ notification.text }}</div>

	<div id="loading" class="{{ loading.active === true ? 'active' : ''}}">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
			<div class="rect6"></div>
			<div class="rect7"></div>
			<div class="rect6"></div>
			<div class="rect5"></div>
			<div class="rect4"></div>
			<div class="rect3"></div>
			<div class="rect2"></div>
			<div class="rect1"></div>
			<span class="message">{{ loading.message }}</span>
		</div>
	</div>

	<div id="top-titlebar" class="top-titlebar">
		<span class="logo-icon"><img src="./img/icon_64.png"></span>
		<span class="title">PLÆR</span>
		<i class='icon ion-refresh' ng-click="archive.scan();"></i>
		<span id="close-window-button" class="close-button"><i class="icon ion-ios-close-empty"></i></span>
		<span id="minimize-window-button" class="minimize-button"><i class="icon ion-ios-minus-empty"></i></span>
		<div class="search">
			<label for="search">
				<i class='icon ion-ios-search'></i>
			</label>
			<input id="search" type="text" placeholder="Search" ng-model="searching">
		</div>
	</div>

	<div id="sidepanel" class="left {{ player.settings.visible === true ? 'visible' : '' }}">
		<i class="icon icon-cog" ng-click="player.settings.toggle()"></i>
		<h3>View</h3>
		<div class="views">
			<a href="#/library"><img src="./app/img/grid.png"></a>
			<a href="#/list"><img src="./app/img/trilist.png"></a>
		</div>
		<h3>Source</h3>
		Current: <span class="source">{{ archive.folder }}</span><br>
		<label>
			<span>Set new:</span> <input ng-model="archive.newFolder" placeholder="New scan path" ng-change="folderSuggestions.fetch(archive.newFolder)">
		</label>
		<div class="folderSuggestions" ng-if="folderSuggestions.visible">
			<div class="message">{{ folderSuggestions.message }}</div>
			<ul ng-if="folderSuggestions.data">
				<li ng-repeat="suggestion in folderSuggestions.data" ng-click="folderSuggestions.appendPath(suggestion)" class="folder">
					{{ suggestion }}
				</li>
			</ul>
		</div>
		<button ng-click="archive.setPath()" class="set-path">Scan path</button>
	</div>

	<div id="sidepanel" class="right playlist {{ player.playlist.visible === true ? 'visible' : '' }}">
		<i class="icon icon-th-list" ng-click="player.playlist.toggle()"></i>
		<i class="icon icon-trash" ng-click="player.playlist.clear()"></i>
		<div class="scroll">
		<h3>Playlist</h3>
			<ul>
				<li ng-repeat="song in player.playlist.list" class="song {{ player.songState(song) === true ? 'playing' : '' }}">
					<i ng-click="player.toggle(song)" class="icon icon-{{ player.songState(song) === true ? 'stop' : 'play' }}"></i>
					{{ song.title !== '' ? song.title : song.name }}
					<i ng-click="player.playlist.remove(song)" class="icon icon-cancel"></i>
				</li>
			</ul>
		</div>
	</div>

	<div id="page-holder" ng-view="">
	</div>

	<div id="controlls">
		<div id="behind"></div>
		<div class="progress" style="width: {{ player.position.percentage }}vw;"><div id="postevak"></div></div>
    <div class="play"><i ng-click="player.pause()" class="icon icon-{{ (player.paused === true || player.playing === true) ? 'pause' : 'play' }}"></i></div>
		<div class="time">{{ player.position.current }}</div>
		<i ng-click="player.stop()" class="icon icon-stop"></i>
		<i ng-click="player.prew(player.current)" class="icon icon-left-open-big"></i>
		<i ng-click="player.next(player.current)" class="icon icon-right-open-big"></i>
		<i ng-click="player.random = !player.random" class="icon icon-shuffle {{ player.random === true ? 'true' : '' }}"></i>
		<i ng-click="player.loop = !player.loop" class="icon icon-loop {{ player.loop === true ? 'true' : '' }}"></i>
		<div class="info" ng-click="list.set.artist(player.current.artist);list.set.album(player.current.album);library.set('artist',player.current.artist);">
			<span ng-if="player.current.artist">{{ player.current.artist }}<i class="icon  icon-right-open"></i></span>
			<span ng-if="player.current.album">{{ player.current.album }}<i class="icon  icon-right-open"></i></span>
			{{ player.current.title || player.current.name }}
		</div>
		<div class="volume">
      <label>
				<span style="opacity: {{player.volume.value/100}}"></span>
				<input type="range" min="0" max="100" ng-model="player.volume.value" ng-change="player.volume.set(player.volume.value)" />
			</label>
    </div>
  </div>

	<!-- dependencies -->
	<script src="./js/depends/localforage.min.js"></script>
	<script src="./js/depends/mousetrap.min.js"></script>
	<script src="./js/depends/hammer.min.js"></script>
	<!-- aurora audio library -->
	<script src="./js/aurora/aurora.js"></script>
	<script src="./js/aurora/mp3.js"></script>
	<script src="./js/aurora/flac.js"></script>
	<!-- angular library -->
	<script src="./js/angular/angular.min.js"></script>
	<script src="./js/angular/ng-order-object-by.js"></script>
	<script src="./js/angular/angular-route.min.js"></script>
	<!-- app scripts -->
	<script src="./js/window.js"></script>
	<script src="./js/controllers.js"></script>
	<script src="./js/app.js"></script>
	
</body>
</html>
